.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#d4d5d6 ;
}
.sign{
    width: 350px;
background-color: white;
padding:5px 40px 20px 40px ;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sign h1{
    font-size: 23px;
	margin-left: 120px;
    font-family:sans-serif;
}
.page{
    margin-top: 10px;
    font-size: 30px;
}
.page a{
    text-decoration: none;
}

.signup-container input{
    width:300px;
		padding:13px 18px;
		border-radius:10px;
		outline:none;
		margin:7px 0;
		font-size:17px;
		border:2px solid lightgray;
}
.signup-container button{
    width:345px;
	padding:13px 18px;
		border-radius:10px;
		outline:none;;
		font-size:18px;
		margin:5px 0;
		border:2px solid lightgray;
		background-color:#1877F2;
		border:none;
		color:white;
		font-weight:bold;	
}
.signup button{
	background-color:#42b72a;
	color:white;
	 font-weight:bold;
	 display:inline-block;
	 padding:13px 18px;
	 margin-top:10px;
	 border-radius:5px;
	

}
.signup p{
	text-align:center;
}

  