.offer{
    margin: 50px 0;
}
.offer img{
    height:500px;
    width: 100%;
    position: absolute;

}
.offer-content{
    background-color: black;
    height: 500px;
    opacity: 0.7;
    color: white;
    position:relative ;
    width: 100%;
  
}
.offer-content h1{
    
    font-size: 50px;
}

.offer-content button{
    margin-top: 20px;
    width: 200px;
    background-color: red;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 25px;
   margin-right: 50px;

    
    
}
.offer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    display: flex;
    justify-content:center ;
align-items: center;
}